body{
	text-align: center; 
}
.button{
	background-color: #5454EA;
    padding: 20px;
    color: white;
    margin-top: 8em;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
	transform: scale(1);
    transition: all .3s;
}
.button:hover{
	transform: scale(1.1);
	background-color: #7B7BE0; 
}
.data{
	width: 300px;
    margin: 0 auto;
    text-align: center;
}
.data h4{
    text-align: center;
    border-bottom: 2px dashed;
    display: inline-block;
    margin: 40px 0px 10px 0px;
}
#x, #y{
	text-align: left;
}